.timeInpCont {
    width: 360px;
    position: relative;
}
.timeInpCont>label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #DA3545;
}
.timeInpCont>input {
    width: 360px;
    height: 50px;
    padding-left: 16px;
    background-color: #ece9e9;
    border: 1px solid #12121229;
    border-radius: 8px;
    color: #121212;
    font-size: 16px;
}