.businessCont {
    width: 1440px;
    height: 1458px;
    background-color: #FFFFFF;
}

.sidebar-form-cont {
    width: 1344px;
    height: 1012px;
    margin: 48px 48px 71px 48px;
    display: flex;
}

.businessFormContMain {
    padding-left: 48px;
    padding-right: 32px;
    flex: 1;
}
.businessFormCont {
    position: relative;
    height: 100%;
}
.businessFormCont>h2 {
    margin-bottom: 51px;
    color: #90212C;
}
.formInpFlexCont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.formSubmitBtnCont {
    position: absolute;
    right: -28px;
    bottom: 4px;
}
.formSubmitBtnCont>button {
    height: 50px;
    width: 464px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DC3545;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}